<!DOCTYPE html>
<html>
<body>
<form action="MAILTO:someone@example.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name" ><br>
E-mail:<br>
<input type="text" name="mail" ><br>
Comment:<br>

<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />

<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>

</body>
</html>
